/* 리스트 7.1 ch7.css */

path.countries {
    stroke-width: 1;
    stroke: black;
    opoacity: .5;
    fill: red;
}

circle.cities {
    stroke-width: 1;
    stroke: black;
    fill: white;
}

circle.centroid {
    fill: red;
    pointer-events: none;
}

rect.bbox {
    fill: none;
    stroke-dasharray: 5 5;
    stroke: black;
    stroke-width: 2;
    pointer-events: none;
}

path.graticule {
    fill: none;
    stroke-width: 1;
    stroke:ㅠ미차;
}

path.graticule.outline {
    stroke:ㅠ미차;
}
